html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: $defaultBright;
  font-size: 14px;
  line-height: 1.4;
  @extend %montserrat-400;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

.menu__link {
  color: $defaultBright;
  padding: 3px;
  @extend %montserrat-500;
  font-size: 16px;
}

.btn{
  transition: background 0.5s, color 0.5s;
}

.btn:hover {
  background: #19235c;
  color: #cc8fff;
}