@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  height: 100vh;
  background-image: url(../images/headerImg/headerBg.jpg);
  @extend %img;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__link {
      color: $defaultBright;
      padding: 3px;
      @extend %montserrat-500;
      font-size: 16px;
    }
  }

  &__content {
    height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content-title {
    font-size: 54px;
    @extend %montserrat-700;
    margin-bottom: 30px;
  }

  &__content-text {
    font-size: 20px;
  }
}

.travel {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $defaultDark;
  }

  &__content {
    max-width: 512px;
  }

  &__title {
    color: #011C40;
    font-size: 28px;
    margin-bottom: 40px;
  }

  &__img {
    max-width: 560px;
    max-height: 301px;
  }
}

.benefits {
  background-image: url(../images/benefits/benefitsBg.jpg);
  @extend %img;
  color: $defaultDark;

  &__title {
    @extend %montserrat-600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  &__content-item {
    background: #fff;
    max-width: 360px;
    padding: 30px;
    align-self: stretch;
  }

  &__content-title {
    font-size: 18px;
    @extend %montserrat-500;
    margin-bottom: 20px;
    padding-top: 40px;
    background-position: top left;
    background-repeat: no-repeat;
  }

  &__content-title--liner-icon {
    background-image: url(../images/benefits/icon1.png);
  }

  &__content-title--checked-icon {
    background-image: url(../images/benefits/icon2.png);
  }

  &__content-title--boat-icon {
    background-image: url(../images/benefits/icon3.png);
  }

}

.cruises {
  @extend %montserrat-500;

  &__title {
    text-align: center;
    font-size: 28px;
    color: $defaultDark;
    @extend %montserrat-600;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 30px 30px;
  }

  &__item {
    position: relative;
    height: 386px;
    width: 260px;
  }

  &__item:hover .cruises__item-content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: $defaultDark;
    padding: 35px 25px 0;
  }

  &__item-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }

  &__item-img:hover {
    opacity: 0;
  }

  &__item-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 80%;
    height: 25px;
    background: transparent;
    transition: 0.5s;
    overflow: hidden;
  }

  &__item-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__item-info {
    margin-bottom: 3px;
  }

  &__item-text {
    @extend %montserrat-400;
    color: #D8D8D9;
    margin-bottom: 10px;
  }

  &__item-btn {
    display: inline-block;
    text-align: center;
    @extend %montserrat-600;
    color: $defaultDark;
    background: #fff;
    padding: 15px 45px;
  }
}

.booking {
  background-image: url(../images/booking/bookingBg.jpg);
  @extend %img;
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    background: $defaultDark;
    padding: 50px;
    max-width: 400px;
    box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
  }

  &__form-text {
    font-size: 18px;
    @extend %montserrat-500;
    margin-bottom: 35px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
  }

  &__label--checkbox {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 16px;
  }

  &__input::placeholder {
    color: $defaultDark;
  }

  &__input--checked {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.booking__checkbox {
      background-image: url(../images/booking/confirmIcon.svg);
      @extend %img;
      background-size: contain;
      background-size: 12px 10px;
    }
  }

  &__checkbox {
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #fff
  }

  &__agrrement {
    margin: 0 0 50px 21px;
    font-size: 10px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    color: $defaultDark;
    background: #fff;
  }

  &__content{
    max-width: 500px;
    color: $defaultDark;
  }

  &__title{
    font-size: 40px;
    @extend %montserrat-600;
    margin-bottom: 30px;
  }

  &__text{
    font-size: 18px;
    max-width: 350px;
  }
}


@import 'media';